@charset "UTF-8";
/* mixin sin parámetros */
.header, .banner, .a, .main, .footer {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  margin: 5px; }

@media (max-width: 991px) {
  .imagen {
    width: 0px; }
  .a {
    padding: 30px;
    font-size: 20px;
    display: block; }
  .nav {
    display: block; }
  .imagen {
    width: 100px; }
  .header {
    background-image: linear-gradient(rgba(0, 0, 37, 0.637), #cfcfcf);
    display: block; }
  .main {
    background-image: linear-gradient(rgba(0, 0, 37, 0.544), white);
    display: flexbox;
    overflow: auto;
    justify-content: center; }
  .row {
    justify-content: center; }
  .letras {
    font-size: 15px;
    text-align: center;
    justify-content: center; }
  .letras {
    font-size: 20px; }
  .letrascont {
    font-size: 10px; } }

/*estilos de header*/
.header {
  background-image: linear-gradient(#494d92, whitesmoke);
  width: 100%;
  /*mixin*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*extend*/
  animation: move 3s ease-in-out; }

.banner {
  /*extend*/
  animation: move 3s ease-in-out; }

.a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  animation: move 3s ease-in-out; }

.main {
  width: 100%;
  background-image: linear-gradient(#9497c2, whitesmoke);
  /*extend*/
  animation: move 3s ease-in-out; }

.footer {
  background-image: linear-gradient(whitesmoke, #9497c2);
  width: 100%;
  color: white;
  /*mixin*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*extend*/
  animation: move 3s ease-in-out; }

@keyframes move {
  0% {
    transform: translate(-30%, 0); }
  1000% {
    transform: translate(30%, 0); } }

.letrascont {
  font-size: 25px;
  text-align: center;
  justify-content: center; }
