

@media (max-width: 991px){
    .imagen{
        width: 0px;   
        ;
    }

    .logo{
        justify-content: center;
        grid-area: logo;
    }

    .a{
        padding: 10px;
        font-size: 20px;
        display: flex;
        
    }

    .nav{
        display: flex;
        grid-area: nav;
    }
    
    .imagen{
        width: 100%; 
              
    }

    .header{
        background-image: linear-gradient(rgba(0, 0, 37, 0.637), rgb(207, 207, 207));          
        width: 100%;
        flex-wrap: wrap;
        
    }
    
    

    .ul{
        display: flex;
        
    }

    .row{
        justify-content: center;
    }


    .letras{
        font-size: 10px;
        text-align: center;
        justify-content: center;
        width: 100%;
        
    }

    .row{
        margin:10px ;
    }

    .letras{
        font-size: 30px;
    }

    .letrascont{
        font-size: 10px;
        width: 100%;
    }

}

